<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Client list</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">Home</a>
        </li>
        <li class="active">
            <strong>Client list</strong>
        </li>
    </ol>
</div>
        </div>
<div class="row">
<div class="col-lg-12">
<div class="wrapper wrapper-content animated fadeInUp">

    <div class="ibox">
        <div class="ibox-title">
            <h5>All Clients</h5>
            <div class="ibox-tools">
                <%= link_to 'Create new user', users_new_path, class: 'btn btn-primary btn-xs' %>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row m-b-sm m-t-sm">
                <div class="col-md-1">
                    <button type="button" id="loading-example-btn" class="btn btn-white btn-sm"><i class="fa fa-refresh"></i> Refresh</button>
                </div>
                <div class="col-md-11">
                    <div class="input-group">
                        <input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary"> Go!</button>
                                </span>
                    </div>
                </div>
            </div>

            <div class="project-list">

                <table class="table table-hover">
                    <tbody>
                    <% @users.each do |user| %>
                    <tr>
                        <td class="project-status">
                            <span class="label <%= user.active ? 'label-primary' : 'label-default' %>"><%= user.active ? 'Active' : 'InActive' %></span>
                        </td>
                        <td class="project-title">
                            <a href="<%= url_for :controller => 'appviews', :action => 'project_detail' %>"><%= user.first_name %></a>
                        <br />
                        <small>Created <%= user.created_at.strftime("%d-%m-%Y") %></small>
                    </td>
                    <td class="project-completion">
                    	<%= user.last_name %>
                    </td>
                    <td class="project-people">
                    	<%= user.email %>
                    </td>
                    <td class="project-actions">
                        <a href="#" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> View </a>
                        <a href="#" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Edit </a>
                    </td>
                    </tr>
                    <% end %>
        </tbody>
        </table>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>


